{% load staticfiles %}
<!-- /#wrapper -->
<!-- jQuery -->
<script src="{% static "/" %}plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "LAIP/" %}bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="{% static "/" %}plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="{% static "LAIP/" %}js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="{% static "LAIP/" %}js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static "LAIP/" %}js/custom.min.js"></script>
<!--Style Switcher -->
<script src="{% static "/" %}plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>